h1= title
p Welcome to #{title}
canvas#socketbox(width='600',height='400',style='border:1px solid red')
script(src='/socket.io/socket.io.js')
script(src='/js/jquery.js')
script(src='/js/stats.js')
script(src='/js/Box2dWeb-2.1.a.3.min.js')
script(src='/js/socketbox.js')
script(type='text/javascript')
	$(function() {
		$('canvas').socketbox();
	});