h1= title
p Welcome to #{title}
script(src='/socket.io/socket.io.js')
script(src='http://code.jquery.com/jquery-1.7.1.min.js')
script(type='text/javascript')
	var socket = io.connect('http://localhost');
	socket.on('connection');
	socket.on('user connected', function (data) {
		$('body').append('<p>' + data.message + '</p>');

		// fire new events
		// socket.emit('server side event', { my: 'data' });
	});