h1= title
p Welcome to #{title}
script(src='http://code.jquery.com/jquery-1.7.1.min.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
script(src='/js/jquery.svg.min.js')
script(src='/js/socketbox.js')